*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
button{
  background-color: transparent;
  border:none;
  margin: 5px;
  text-align: start;
  width: 100%;
  font-weight: bold;
  font-size: medium;
}
.faq-item{
  background-color:bisque;
  margin: 30px;
  padding: 15px;
  border-radius: 8px;
}